@import url('https://fonts.googleapis.com/css?family=Francois+One');
html {
    background: url("../img/background1.jpg") no-repeat center center fixed;
    background-size: cover;
    font-size: 50pt;
}

body {
    font-size: 50pt;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: sans-serif;
    background-size: cover;
}


.panel-main {
    
    
    width: 100%;
    height: 100%;
}
.panel-buttons{
    margin-top: 90%;
    margin-bottom: 30%;
    
    
}
/*
.panel-logo{
	color: #E4E495;
	font-family: Franklin  Gothic Heavy;
	font-size: 200pt;
	text-shadow: -1px 10px #707070, 0 1px #707070, 1px 0 #707070, 0 -1px #707070;
	opacity: ;
	
}
*/

.new-trip-form {
    width: 100%;
    background: white;
}
.result{
    height: 500px;
    background-color: white;
    padding: 15px;
}
.result p {
   font-family: Roboto;
    color: darkgrey;
}
input {
    width: 94%;
    padding: 25px;
    margin: 15px;
    font-size: 50pt;
    text-align: center;
}
.name{
    background-color: white;
    margin: 15px 0;
    padding: 15px;
    
}
.name p{
    font-family: Roboto Black;
    text-align: center;
}
.submit{ 
	width: 50%; 
	border: none; 
	background-color:#88dfcb ; 
	font-family: Roboto BLack; 
	color: white; 
	border-radius: 100px; 
	border-radius: 100px; 
}



a {
    
    color: whitesmoke;
    text-decoration: none;
    font-size: 50pt;
}
.button {
    margin: 1% 30%;
    width: 60%;
    text-transform: capitalize;
    background-color: #ffff;
    border-radius: 100px;
    text-align: center;
    background-repeat: no-repeat;
    padding: 50px;
    border: solid #12f4f4 2px;
    width: 60%;
    background-color: #88dfcb;
    font-family: Francois One;
    color: white;
	text-shadow: -1px 0 #707070, 0 1px #707070, 1px 0 #707070, 0 -1px #707070;   
	
}
.back{
	background-color: aliceblue;
}

.activ
e-trip{
}
.panel{
    width: 100%;
    border: solid #9ff6e8;
    background-color: white;
    min-height: 10000px;
}
.panel p{
    font-family: Roboto Black;
    color: ;
}
.active_budget, .active_tickets, .active_hotel,

.calculate, .optional_options{
    display: flex;
}
.change_button {
}