html {
     background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

body {
    font-size: 50pt;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: sans-serif;
    background-size: cover;
}


.panel-main {
    
    
    width: 100%;
    height: 100%;
}
.panel-buttons{
    margin-top: 90%;
    margin-bottom: 30%;
    
    
}

a {
    
    color: whitesmoke;
    text-decoration: none;
    font-size: 50pt;
    text-shadow: -3px 0 #998b96, 0 3px #998b96, 3px 0 #998b96, 0 -3px #998b96;
}
.button {
    margin: 1% 50%;
    width: 40%;
    text-transform: capitalize;
    background-color: #b5f6e5;
    border-radius: 100px;
    text-align: center;
    background-repeat: no-repeat;
    padding: 50px;
    border: solid #12f4f4;
    
}

.active-trip{
}
.panel{
    border: solid #9ff6e8;
    height: 100%;
    background-color: white;
    min-height: 10000px;
}
.panel p{
    font-family: Roboto Black;
    color: ;
}
.active_budget, .active_tickets, .active_hotel,

.calculate, .optional_options{
    display: flex;
}
.change_button {
}